<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.waitou.three_library">

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--写sd卡权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--读sd卡权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--获取网络信息状态，如当前的网络连接是否有效-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--获取当前WiFi接入的状态以及WLAN热点的信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--访问电话状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--通过GPS芯片接收卫星的定位信息，定位精度达10米以内-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--通过WiFi或移动基站的方式获取用户错略的经纬度信息，定位精度大概误差在30~1500米-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--允许程序访问额外的定位提供者指令-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!--允许程序读取底层系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />


    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <!--友盟 app key-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="591a58c382b635235d00036a"/>

        <!--微信回调-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!--QQ回调-->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent100424468"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>


    </application>



</manifest>
