<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.waitou.wt_library">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".browser.WebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>


        <meta-data
            android:name="com.waitou.wt_library.BaseApplication"
            android:value="SUB_APP" />
    </application>

</manifest>
