<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.waitou.wt_library">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".browser.WebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
