<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.waitou.towards">

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--写sd卡权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--读sd卡权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 允许程序访问有关GSM网络信息-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".TowardsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".model.guide.SplashActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--主页-->
        <activity
            android:name=".model.main.MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--妹子相册页面-->
        <activity
            android:name=".model.gallery.GalleryActivity"
            android:screenOrientation="portrait"/>
        <!--更改主题页面-->
        <activity
            android:name=".model.theme.ThemeActivity"
            android:screenOrientation="portrait"/>

        <!--随手涂鸦-->
        <activity
            android:name=".model.graffiti.GraffitiActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity
            android:name=".model.activity.RecommendedActivity"
            android:screenOrientation="portrait"/>

        <!--FileProvider配置-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${packageName1}.android.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>

        </provider>
    </application>

</manifest>