<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.waitou.towards">

    <!-- 允许程序访问有关GSM网络信息-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>

    <application
        android:name=".TowardsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".model.guide.SplashActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>

        <activity android:name=".model.activity.ListActivity"/>

        <!--主页-->
        <activity
            android:name=".model.main.MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--妹子相册页面-->
        <activity
            android:name=".model.gallery.GalleryActivity"
            android:screenOrientation="portrait"/>
        <!--随手涂鸦-->
        <activity
            android:name=".model.graffiti.GraffitiActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait">

        </activity>
        <!--影视推荐-->
        <activity
            android:name=".model.movie.MovieRecommendActivity"
            android:screenOrientation="portrait"/>
        <!--专题推荐-->
        <activity
            android:name=".model.movie.MovieProjectActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".model.activity.RecommendedActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".model.QrScanActivity"
            android:screenOrientation="portrait"/>
        <!--FileProvider配置-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${packageName1}.android.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>

        </provider>
    </application>

</manifest>